body {
    background-color: rgb(75, 205, 220);
}

#intro {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    background-color: white;
    height: 200px;
}

#background {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    height: 450px
}