body {
    background-color: rgb(75, 205, 220);
}

#background {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    height: 1000px
}

.cardCSS {
    background-color: yellow;
    height: 200px;
    width: 100px;
    margin: 20px;
    float: left;
}