
body {
    background-color: rgb(75, 205, 220);
}


.card {
    width: 25%;
    margin: auto;
    color:lightgray;
}

.gameCard {
    color: lightgrey;
    width: 100%;
    cursor:pointer;
}


.row {
    margin: 25px;
    margin-top: 30px;
    padding-top: 30px;
}

#background {
    background:lightblue;

}


.btn {
    height:45px;
    margin: 0;
    position: absolute;
    top: 96px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#head{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom right, cyan, blue);
     font-size: 300%;
    height: 150px;
    padding-top: 40px;
    width: 100%;
    margin-top: -7px;
    position:  absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}